@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin buttonReset {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  font: inherit;
}
