@import "~@/scss";

.forecast {
  margin-top: 50px;
  padding: 0;
  display: flex;
  overflow: hidden;

  &.skeletonLoaded {
    padding: 0 !important;

    &::after {
      display: none;
    }
  }

  .day {
    position: relative;
    min-width: 120px;
    padding: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
    cursor: pointer;
    pointer-events: all;

    &.active {
      &::after {
        top: 0;
        bottom: 0;
        opacity: 0;
      }

      + .day::after {
        top: 0;
        bottom: 0;
        opacity: 0;
      }
    }

    &.skeleton {
      cursor: default;

      &:hover {
        box-shadow: initial;
      }
    }

    &__date {
      user-select: none;
      text-align: center;
      pointer-events: none;
      font-size: 24px;
      line-height: 100%;
    }

    &:hover,
    &.active {
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.15);
    }

    .temp {
      margin-top: 30px;
      display: flex;
      user-select: none;
      pointer-events: none;

      &__number {
        font-size: 34px;
        font-weight: 700;
        line-height: 100%;
      }

      &__unit {
        margin-top: 3px;
        margin-bottom: auto;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
      }
    }

    &:first-of-type {
      padding-left: 30px;
    }

    &:last-of-type {
      padding-right: 30px;
    }

    &:not(:first-of-type)::after {
      content: "";
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 0;
      width: 1px;
      transition: 0.3s;
      opacity: 1;
      background-color: #e0e0e0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .forecast {
    .day {
      padding: 30px 15px;

      &__date {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .forecast {
    flex-direction: column;

    .day {
      padding: 15px;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      &:first-of-type {
        padding-left: 15px;
      }

      &:last-of-type {
        padding-right: 15px;
      }

      &:not(:first-of-type)::after {
        top: 0;
        right: 20px;
        bottom: initial;
        left: 20px;
        width: initial;
        height: 1px;
      }

      &.active {
        &::after {
          right: 0;
          left: 0;
          opacity: 0;
        }

        + .day::after {
          right: 0;
          left: 0;
          opacity: 0;
        }
      }

      &__date {
        font-size: 14px;
      }

      .temp {
        margin-top: initial;
        margin-right: 30px;
      }
    }
  }
}