@import "~@/scss";

.welcome {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);

  &__title {
    user-select: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
  }

  &__body {
    height: 40px;
    margin-top: 30px;
    display: flex;
  }

  &__input {
    @include placeholder {
      color: rgba(0, 0, 0, 0.8);
      font: inherit;
      font-size: 16px;
      font-weight: 500;
    }
    height: 100%;
    padding: 10px 15px;
    flex: 1;
    user-select: none;
    transition: 0.3s;
    pointer-events: all;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: none;
    font: inherit;
    font-size: 16px;
    font-weight: 500;

    &:hover {
      border-color: rgba(0, 0, 0, 0.7);
    }

    &:focus {
      border-color: rgba(0, 0, 0, 1);
    }
  }

  &__submit {
    @include buttonReset;
    height: 100%;
    margin-left: 20px;
    padding: 10px 15px;
    user-select: none;
    transition: 0.3s;
    letter-spacing: 0.0625em;
    pointer-events: none;
    color: #ffffff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 500;

    &.active {
      pointer-events: all;
      background-color: rgba(0, 0, 0, 1);
    }
  }

  > .card {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .welcome {
    padding: 0 15px;

    &__body {
      height: initial;
      flex-direction: column;
    }

    &__submit {
      margin-top: 15px;
      margin-left: initial;
    }
  }
}